{
  "openapi": "3.0.3",
  "info": {
    "title": "Intellipost API - Autenticación",
    "description": "API de autenticación para Intellipost Enterprise. Sistema de tokens con access token (24h) y refresh token (30 días) con rotación automática.",
    "version": "1.0.0",
    "contact": {
      "name": "Intellipost API Support",
      "url": "https://tu-dominio.com/docs"
    }
  },
  "servers": [
    {
      "url": "https://tu-dominio.com/api",
      "description": "Servidor de producción"
    },
    {
      "url": "http://localhost/api",
      "description": "Servidor de desarrollo"
    }
  ],
  "tags": [
    {
      "name": "Autenticación",
      "description": "Endpoints para gestión de tokens de acceso"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "tags": ["Autenticación"],
        "summary": "Generar tokens de acceso",
        "description": "Obtiene un par de tokens (access + refresh) para autenticación programática. Solo disponible para Owners de workspaces con plan Enterprise.",
        "operationId": "generateToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Autenticación básica",
                  "value": {
                    "email": "owner@empresa.com",
                    "password": "tu-contraseña-segura",
                    "workspace": "marketing-global"
                  }
                },
                "withId": {
                  "summary": "Usando ID de workspace",
                  "value": {
                    "email": "owner@empresa.com",
                    "password": "tu-contraseña-segura",
                    "workspace": "12"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tokens generados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Invalid credentials. Please check your email and password."
                }
              }
            }
          },
          "402": {
            "description": "Plan no es Enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Usuario no es Owner del workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Only the workspace owner can generate API tokens for this workspace."
                }
              }
            }
          },
          "404": {
            "description": "Workspace no encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Workspace not found."
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/refresh": {
      "post": {
        "tags": ["Autenticación"],
        "summary": "Renovar access token",
        "description": "Obtiene un nuevo par de tokens usando un refresh token válido. El refresh token anterior queda invalidado (rotación).",
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              },
              "example": {
                "refresh_token": "2|z9y8x7w6v5u4t3s2r1q0p9o8n7m6l5k4j3i2h1g0",
                "workspace": "marketing-global"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens renovados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid": {
                    "summary": "Token inválido",
                    "value": {
                      "success": false,
                      "message": "Invalid refresh token."
                    }
                  },
                  "expired": {
                    "summary": "Token expirado",
                    "value": {
                      "success": false,
                      "message": "Refresh token has expired. Please authenticate again."
                    }
                  },
                  "revoked": {
                    "summary": "Token revocado",
                    "value": {
                      "success": false,
                      "message": "Refresh token not found or already revoked."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Plan cambió a no-Enterprise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Token no válido para el workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "This refresh token is not valid for the specified workspace."
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/validate": {
      "get": {
        "tags": ["Autenticación"],
        "summary": "Validar token activo",
        "description": "Verifica que el access token sigue siendo válido y devuelve información del usuario y workspace.",
        "operationId": "validateToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token válido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token inválido o expirado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/revoke": {
      "post": {
        "tags": ["Autenticación"],
        "summary": "Revocar tokens",
        "description": "Revoca todos los tokens API del usuario. Opcionalmente puede filtrar por workspace.",
        "operationId": "revokeToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Slug o ID del workspace (opcional). Si se omite, revoca todos los tokens.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "marketing-global"
          }
        ],
        "responses": {
          "200": {
            "description": "Tokens revocados exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeResponse"
                }
              }
            }
          },
          "401": {
            "description": "No autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Autenticación"],
        "summary": "Health check",
        "description": "Verifica que la API está funcionando. No requiere autenticación.",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API funcionando correctamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-03-06T21:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-code-samples": {
    "generateToken": {
      "curl": "curl -X POST https://tu-dominio.com/api/auth/token \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"email\": \"owner@empresa.com\",\n    \"password\": \"tu-contraseña\",\n    \"workspace\": \"marketing-global\"\n  }'",
      "javascript": "const response = await fetch('https://tu-dominio.com/api/auth/token', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    email: 'owner@empresa.com',\n    password: 'tu-contraseña',\n    workspace: 'marketing-global'\n  })\n});\n\nconst { data } = await response.json();\nconsole.log('Access Token:', data.access_token);",
      "python": "import requests\n\nresponse = requests.post('https://tu-dominio.com/api/auth/token', json={\n    'email': 'owner@empresa.com',\n    'password': 'tu-contraseña',\n    'workspace': 'marketing-global'\n})\n\ndata = response.json()\naccess_token = data['data']['access_token']"
    },
    "refreshToken": {
      "curl": "curl -X POST https://tu-dominio.com/api/auth/token/refresh \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"refresh_token\": \"2|z9y8x7w6v5u4t3s2r1q0p9o8n7m6l5k4j3i2h1g0\",\n    \"workspace\": \"marketing-global\"\n  }'",
      "javascript": "async function refreshToken() {\n  const refreshToken = localStorage.getItem('refresh_token');\n  \n  const response = await fetch('https://tu-dominio.com/api/auth/token/refresh', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      refresh_token: refreshToken,\n      workspace: 'marketing-global'\n    })\n  });\n\n  const { data } = await response.json();\n  \n  // Actualiza AMBOS tokens\n  localStorage.setItem('access_token', data.access_token);\n  localStorage.setItem('refresh_token', data.refresh_token);\n  \n  return data.access_token;\n}",
      "python": "import requests\n\nrefresh_token = \"2|z9y8x7w6v5u4t3s2r1q0p9o8n7m6l5k4j3i2h1g0\"\n\nresponse = requests.post('https://tu-dominio.com/api/auth/token/refresh', json={\n    'refresh_token': refresh_token,\n    'workspace': 'marketing-global'\n})\n\ndata = response.json()\nnew_access_token = data['data']['access_token']\nnew_refresh_token = data['data']['refresh_token']"
    },
    "useToken": {
      "curl": "curl -X GET https://tu-dominio.com/api/v1/publications \\\n  -H \"Authorization: Bearer 1|a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0\" \\\n  -H \"Accept: application/json\"",
      "javascript": "const accessToken = localStorage.getItem('access_token');\n\nconst response = await fetch('https://tu-dominio.com/api/v1/publications', {\n  headers: {\n    'Authorization': `Bearer ${accessToken}`,\n    'Accept': 'application/json'\n  }\n});\n\nconst data = await response.json();",
      "python": "import requests\n\naccess_token = \"1|a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0\"\n\nheaders = {\n    'Authorization': f'Bearer {access_token}',\n    'Accept': 'application/json'\n}\n\nresponse = requests.get('https://tu-dominio.com/api/v1/publications', headers=headers)\ndata = response.json()"
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum",
        "description": "Access token obtenido de /auth/token o /auth/token/refresh"
      }
    },
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "required": ["email", "password", "workspace"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email del Owner del workspace",
            "example": "owner@empresa.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "description": "Contraseña del usuario",
            "example": "tu-contraseña-segura"
          },
          "workspace": {
            "type": "string",
            "description": "ID numérico o slug del workspace",
            "example": "marketing-global"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "API tokens generated successfully. Store your refresh token securely."
          },
          "data": {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string",
                "description": "Token de corta duración (24h)",
                "example": "1|a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0"
              },
              "refresh_token": {
                "type": "string",
                "description": "Token de larga duración (30 días)",
                "example": "2|z9y8x7w6v5u4t3s2r1q0p9o8n7m6l5k4j3i2h1g0"
              },
              "token_type": {
                "type": "string",
                "example": "Bearer"
              },
              "expires_in": {
                "type": "integer",
                "description": "Segundos hasta que expire el access_token",
                "example": 86400
              },
              "refresh_expires_in": {
                "type": "integer",
                "description": "Segundos hasta que expire el refresh_token",
                "example": 2592000
              },
              "workspace": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 12
                  },
                  "name": {
                    "type": "string",
                    "example": "Marketing Global"
                  },
                  "slug": {
                    "type": "string",
                    "example": "marketing-global"
                  },
                  "plan": {
                    "type": "string",
                    "example": "enterprise"
                  }
                }
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 5
                  },
                  "name": {
                    "type": "string",
                    "example": "Ana García"
                  },
                  "email": {
                    "type": "string",
                    "example": "owner@empresa.com"
                  }
                }
              }
            }
          }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "required": ["refresh_token", "workspace"],
        "properties": {
          "refresh_token": {
            "type": "string",
            "description": "Refresh token obtenido previamente",
            "example": "2|z9y8x7w6v5u4t3s2r1q0p9o8n7m6l5k4j3i2h1g0"
          },
          "workspace": {
            "type": "string",
            "description": "ID numérico o slug del workspace",
            "example": "marketing-global"
          }
        }
      },
      "RefreshResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Tokens refreshed successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string",
                "description": "Nuevo access token (24h)",
                "example": "3|n3wAcc3ssT0k3nH3r3..."
              },
              "refresh_token": {
                "type": "string",
                "description": "Nuevo refresh token (30 días)",
                "example": "4|n3wR3fr3shT0k3nH3r3..."
              },
              "token_type": {
                "type": "string",
                "example": "Bearer"
              },
              "expires_in": {
                "type": "integer",
                "example": 86400
              },
              "refresh_expires_in": {
                "type": "integer",
                "example": 2592000
              }
            }
          }
        }
      },
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Token is valid."
          },
          "data": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean",
                "example": true
              },
              "has_api_access": {
                "type": "boolean",
                "example": true
              },
              "token_name": {
                "type": "string",
                "example": "api-access:12:1741305600"
              },
              "token_expires_at": {
                "type": "string",
                "format": "date-time",
                "example": "2026-03-07T21:00:00+00:00"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 5
                  },
                  "name": {
                    "type": "string",
                    "example": "Ana García"
                  },
                  "email": {
                    "type": "string",
                    "example": "owner@empresa.com"
                  }
                }
              },
              "workspace": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 12
                  },
                  "name": {
                    "type": "string",
                    "example": "Marketing Global"
                  },
                  "slug": {
                    "type": "string",
                    "example": "marketing-global"
                  },
                  "plan": {
                    "type": "string",
                    "example": "enterprise"
                  },
                  "api_access": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        }
      },
      "RevokeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Revoked 2 API token(s) successfully."
          },
          "data": {
            "type": "object",
            "properties": {
              "revoked_count": {
                "type": "integer",
                "example": 2
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error message"
          }
        }
      },
      "PlanErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "API access is only available for Enterprise plans. Your current plan is \"professional\". Please upgrade to enable API access."
          },
          "data": {
            "type": "object",
            "properties": {
              "current_plan": {
                "type": "string",
                "example": "professional"
              },
              "required_plan": {
                "type": "string",
                "example": "enterprise"
              },
              "upgrade_url": {
                "type": "string",
                "example": "https://tu-dominio.com/pricing"
              }
            }
          }
        }
      }
    }
  }
}
